@charset "ISO-8859-1";

.home-page {
	width: 50%;
  	padding: 8% 0 0;
  	margin: auto;
  	text-align: center;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	margin: 0 auto 100px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
 	background: #43A047;
}

body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;      
}

.ui-datatable .ui-state-highlight.ui-row-editing .ui-cell-editor-input .ui-calendar .ui-icon-calendar {
    color: white;
}

.ui-datatable table {
	border-collapse: separate !important;
}

.red{
   background-color:red;
   background-image:none;
}