 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>User Management</title>
		<h:outputStylesheet name="css/styleSheet.css"/>	
	</h:head>

	<h:body>
		
		<f:loadBundle basename="messages" var="msg"/>
		
		<ui:include src="menu.xhtml"></ui:include>
		
<!-- 		<div> -->
<!-- 			<h:form> -->
<!-- 				<p:menubar> -->
<!-- 					<p:menuitem value="Time Management" icon="ui-icon-calendar" rendered="true" url="/home.xhml"/> -->
<!-- 					<p:menuitem value="User Management" icon="ui-icon-gear" rendered="true"/> -->
<!-- 					<p:menuitem value="Project Management" icon="ui-icon-document" rendered="true" url="/pmView.xhml"/> -->
<!-- 					<f:facet name="options"> -->
<!-- 				 		<h:outputText style="margin-right:10px" value="User: #{homeView.user.userCode}"/> -->
<!-- 			            <p:commandButton value="Logout" icon="ui-icon-extlink" actionListener="#{homeView.logout}" /> -->
<!-- 			        </f:facet> -->
<!-- 				</p:menubar> -->
<!-- 			</h:form> -->
<!-- 		</div> -->
		
		<div>	
			<h:form id="form">			 	
			    
   				<p:messages id="messages" showDetail="true" sticky="true" closable="true"/>
   							    
<!-- 				<p:tabView value="#{homeView.projectTimeTableList.entrySet().toArray()}" var="projectTimeTable"> -->
				    
<!-- 				    <p:tab title="#{projectTimeTable.key}"> -->
						
<!-- 						<p:tabView value="#{projectTimeTable.value.entrySet().toArray()}" var="taskTimeTable"> -->
							
<!-- 							<p:tab title="#{taskTimeTable.key}"> -->
							
						<div style="text-align:center; padding: 2% 10% 5% 10%">
						
								<p:dataTable id="user-table"  var="user" value="#{homeView.usersList}" widgetVar="tableUsersWidget" style="text-align: center;">	
   									            
					      		<p:column headerText="userCode" style="text-align:center;">
						            <h:outputText value="#{user.userCode}" style="text-align: center;"/>
						        </p:column>
						        
						        <p:column headerText="Role" style="text-align:center;">
						            <h:outputText value="#{user.roleCode}" style="text-align: center;"/>
						        </p:column>
						        
						        <p:column headerText="User Details" style="text-align:center;">
     								<p:commandButton value="User Details" icon="ui-icon-document" actionListener="#{homeView.setUser(user)}" update=":userDetailsDlg" oncomplete="PF('userDetailsDlg').show()">
     								</p:commandButton>
						        </p:column>
						        					        
						        <f:facet name="footer">
						          	<h:commandLink rendered="#{homeView.user.roleCode.equalsIgnoreCase('admin') || homeView.user.roleCode.equalsIgnoreCase('adm')}">
						                <p:graphicImage name="images/excel.png" width="24"/>
						                <p:dataExporter type="xls" target="user-table" fileName="userTable"/>
					            	</h:commandLink>
						        	<p:commandButton value="Add User" icon="ui-icon-plus" actionListener="#{homeView.addUser()}" oncomplete="PF('newUserDlg').show()" />
						        </f:facet>
					        
					  		</p:dataTable>
					  		
<!-- 					  		<p:contextMenu for="user-table"> -->
<!-- 						        <p:menuitem value="Delete" update="time-table" icon="ui-icon-close" actionListener="#{homeView.deleteTimeTableRow}"/> -->
<!-- 						    </p:contextMenu> -->
    
					  	</div>
							
<!-- 							</p:tab> -->
						
<!-- 						</p:tabView> -->
			  			
<!-- 	    			</p:tab> -->
	    			
<!-- 	        	</p:tabView> -->
	        	
			</h:form>
			
			<p:dialog id="userDetailsDlg" header="User Details" widgetVar="userDetailsDlg">
		  		 
		  		 <h:form>
		  		 	<p:dataTable id="user-detail-table"  var="userDetail" value="#{homeView.user}" widgetVar="tableUserDetailWidget" style="text-align: center;">
		  		 		
		  		 		<p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Name"/>
				            </f:facet>
					        <h:outputText value="#{userDetail.name}" style="text-align:center;" /> 
				        </p:column>
				        
				        <p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Last name"/>
				            </f:facet>
					        <h:outputText value="#{userDetail.lastName}" style="text-align:center;" /> 
				        </p:column>
				        
				        <p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Email"/>
				            </f:facet>
			            	<h:outputText value="#{userDetail.email}" style="text-align:center;" /> 
				        </p:column>
				        
				        <p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Phone Number"/>
				            </f:facet>
			            	<h:outputText value="#{userDetail.phoneNumber}" style="text-align:center;" /> 
				        </p:column>
				        
				        <f:facet name="footer">
		        	 		<p:button value="Close" onclick="PF('userDetailsDlg').hide(); return false" />
			        		<p:commandButton value="Update" action="#{homeView.updateUser()}" update=":form :form:messages" oncomplete="PF('userDetailsDlg').hide()" />
				        </f:facet>
				        
		  		 	</p:dataTable>
			       
			    </h:form>
		  	</p:dialog>
		  	
		  	<p:dialog id="newUserDlg" header="New User" widgetVar="newUserDlg">
		  		 
		  		 <h:form>
		  		 	<p:dataTable id="new-user-table" editable="true" var="newUser" value="#{homeView.user}" widgetVar="newUserWidget" style="text-align: center;">
		  		 		
		  		 		<p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="userCode"/>
				            </f:facet>
							 <p:cellEditor>
					            <f:facet name="output"> 
					            	<h:outputText value="#{newUser.userCode}" style="text-align:center;" /> 
				            	</f:facet>
					           	<f:facet name="input"> 
				           	 		<p:inputText value="#{newUser.userCode}" style="text-align:center;" /> 
				           		</f:facet>
				        	</p:cellEditor>
				        </p:column>
				        
				        <p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Role"/>
				            </f:facet>
							 <p:cellEditor>
					            <f:facet name="output"> 
					            	<h:outputText value="#{newUser.roleCode}" style="text-align:center;" /> 
				            	</f:facet>
					           	<f:facet name="input"> 
				           	 		<p:inputText value="#{newUser.roleCode}" style="text-align:center;" /> 
				           		</f:facet>
				        	</p:cellEditor>
				        </p:column>
				        
				        <p:column style="text-align:center;">
				        	<f:facet name="header">
				                <h:outputText value="Project"/>
				            </f:facet>
							 <p:cellEditor>
					            <f:facet name="output"> 
					            	<h:outputText value="#{newUser.projectCode}" style="text-align:center;" /> 
				            	</f:facet>
					           	<f:facet name="input"> 
				           	 		<p:inputText value="#{newUser.projectCode}" style="text-align:center;" /> 
				           		</f:facet>
				        	</p:cellEditor>
				        </p:column>
				        
				        <f:facet name="footer">
		        	 		<p:button value="Close" onclick="PF('newUserDlg').hide(); return false" />
			        		<p:commandButton value="Update" action="#{homeView.saveNewUser()}" update=":form :form:messages" oncomplete="PF('newUserDlg').hide()" />
				        </f:facet>
				        
		  		 	</p:dataTable>
			       
			    </h:form>
		  	</p:dialog>
		  	
		</div>
	 
	</h:body>

</html>