<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    
    <div id="menu">
			<h:form>
				<p:menubar>
					<p:menuitem value="Time Management" icon="ui-icon-calendar" rendered="true" actionListener="#{homeView.timeManagement}"/>
					<p:menuitem value="User Management" icon="ui-icon-gear" rendered="true" actionListener="#{homeView.userManagement}"/>
					<p:menuitem value="Project Management" icon="ui-icon-document" rendered="#{homeView.user.isAdmin}" actionListener="#{homeView.projectManagement}"/>
					<f:facet name="options">
				 		<h:outputText style="margin-right:10px" value="User: #{homeView.user.userCode}"/>
			            <p:commandButton value="Logout" icon="ui-icon-extlink" actionListener="#{homeView.logout}" />
			        </f:facet>
				</p:menubar>
			</h:form>
		</div>
    
</ui:composition>